.container{
    margin: 2em 5em;
    border: 1px solid #f8f8f8;
    border-radius: 8px;
    background-color: #f3f3f3;  
}

.title {
    margin: 1em 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: var(--azul-escuro);
}

.form_container {
    width: 30%;
    
}

.form__children{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.etiqueta {
    font-weight: 500;
    line-height: 20px;    
    margin-top: 1em;
}

.input__form {
    display: block;
    border: 2px solid var(--azul-claro);
    border-radius: 20px;
    width: 100%;
    padding: 1em;
    margin-top: .5em;
    margin-bottom: 1em;
}

.btn_normal {
    margin: -1em auto;
    display: block;
    border: none;
    padding: 2em 4em;    
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
}

.btn_normal:hover{
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width: 900px){
    .container{
        margin: -1em auto;
        width: 100%;
    }

    .form_container{
        width: 65%;
    }

    .title{
        text-align: center;
    }
}