:root {
  --fonte-principal: monospace;
  --fonte-logo: 'Inter', sans-serif;
  --azul-claro: #6BD1FF;
  --preto: #000000;
  --branco: #FFFFFF;
  --azul-escuro: #1534C0;
}

body {
  font-family: var(--fonte-principal);
  color: var(--preto);
  font-size: 16px;
}

.cabecalho__logo-link {
  text-decoration: none;
}